*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue !important;
}
.firstBox,.secondBox{
    width: 500px;
}
input,select{
    background-color: rgb(64, 93, 94) !important;
}
.header{
    font-family: 'Text Me One', sans-serif ;
}